div {

color: aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;

}

#NavBar {
    color: red;
font-size: 60px;
width: max-content;

}

#SideBar {

    color: blue;
    font-size: small;
    width: 39px;

}

#Main {

    color: green;
    font-size: 25;
    margin-left: 40px;

}