div {

color: aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;

}

#NavBar {
    color: red;
font-size: 60px;

}

#SideBar {

    color: blue;
    font-size: small;

}

#Main {

    color: green;
    font-size: 25;
}

#NavBar {
    columns: 1;
    column-width: 18em;
}